<div class="{{if (eq index answer) 'correct' 'incorrect'}}">
  <div class="radio">
    <label>
      <input type="radio" name="question-{{questionIndex}}" disabled={{disabled}}/>
      <div type="question-text">{{text}}</div>
    </label>
  </div>
</div>
